.l-hero {
  height: 100vh;
  &__swiper {
    height: 100%;
  }
  // .l-hero__slide.swiper-slide-active & {
  //   &__img-mask {
  //     transform: scale(1.1);
  //   }
  //   &__test {
  //     //
  //   }
  // }
  &__slide.swiper-slide-active &__img-mask {
    transform: scale(1.1);
  }
  &__img-mask {
    height: 100%;
    transition: transform 10s;
  }
}

/* -- header inner -- */
.l-hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-image: url('../img/footer/bg.jpg');
  background-size: cover;
  background-position: center center;
  @include media(max-2xl) {
    margin-top: rem(85);
  }
  @include media(max-sm) {
    margin-top: rem(55);
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    @include size(100%);
    background-color: var(--color-primary);
    mix-blend-mode: multiply;
  }
  &__blockade {
    top: auto;
    bottom: -30%;
    @include media(max-2xl) {
      bottom: -20%;
    }
    @include media(max-ipad-portrait) {
      bottom: 10%;
    }
    @include media(max-sm) {
      bottom: -20%;
    }
  }
}